{% extends 'base.html.twig' %}

{% block title %}Créaton d'une annonce{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %} {# BLOCK N 1 IDENTIFIANT =>PERMET DE DECIDER LA FACON DONT NOUS VOULONS AFFICHER LE SOUS FORMULAIRE #}


{% block body %}
    <div class="container">
        <h1 class="my-5">Créer une nouvelle annonce !</h1>

        {{ form_start(form) }}

        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Informations générales</h2>
                    <hr>
                    {{ form_row(form.title) }}
                    {{ form_row(form.slug) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.rooms) }}
                </div>
                <div class="alert alert-light">
                    <h2>Détails de l'annonce</h2>
                    <hr>
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.content) }}
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h2>Images de l'annonce</h2>
                    <hr>
                    {{ form_row(form.coverImage) }}
                    {{ form_row(form.images) }}
                </div>
            </div>
        </div>

        <div class="alert alert-info clearfix">
            <h3 class="alert-heading">Sauvergarder mon annonce</h3>
            <p>
                Vous êtes sur le point de créer votre annonce, nous sommes super fier de vous !
            </p>
            <button type="submit" class="btn btn-primary float-right">
                <i class="fas fa-check"></i>
                Créer la nouvelle annonce
            </button>
        </div>
        
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/ad.js"></script>
{% endblock %}